.titulo{
  font-family: 'Times New Roman', Times, serif;
  padding: 2px 4px 2px 4px;
  border: none;
}
.color-titulo-formulario{
  color: black;
}
.espacio-titulos{
  padding: 15px 1px 1px 1px;
}
.padding-items{
  padding: 15px 1px 1px 1px;
}
.titulo-1{
  padding: 5px;
}
.container-formulario{
  height: 300px;
  width: 100%;
}
.form-container{
  height: 300px;
}
.item-registro{
  padding: 0px;
  margin: 10px;
  height: 55px;
}

.texto-formulario{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
.boton-registro{
  padding: 5px;
  margin: 10px;
  height: 50px;
  width: 110px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ancho_form {
  width: 50%;
}

@media (max-width:767px)
{
  .ancho_form {
    width: 80%;
  }
}