.titulo{
  background-color: #1363DF;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2px 4px 2px 4px;
  /* box-shadow: 7px 9px 10px -2px rgba(0, 0, 0, 0.68); */
  border: none;
}
.titulo-1{
  border-radius: 6px 6px 0 0;
}
.titulo-2{
  border-radius: 0 0 6px 6px;
}
.container{
  height: 300px;
  width: 100%;
  color: black;
}
.form-container{
  height: 300px;
  width: 400px;
}
.item-registro{
  margin: 10px;
  height: 50px;
  width: 100%;
}
.boton-registro{
  background-color: #06283D;
  margin: 10px;
  height: 50px;
  width: 110px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

