.titulo{
  font-family: 'Times New Roman', Times, serif;
  padding: 2px 4px 2px 4px;
  border: none;
}
.color-titulo-formulario{
  color: black;
}
.espacio-titulos{
  padding: 1px 1px 1px 1px;
}
.padding-items{
  padding: 15px 1px 1px 1px;
}
.titulo-1{
  padding: 5px;
}
.container-formulario{
  height: 300px;
  width: 100%;
}
.form-container{
  height: 300px;
  width: 100%;
}
.item-registro{
  padding: 0px;
  margin: 10px;
  height: 55px;
  width: 400px;
}
.items-pequeños{
  width: 195px;
}
.texto-formulario{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
.boton-registro{
  padding: 5px;
  margin: 10px;
  height: 50px;
  width: 100%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.boton-contenido{
  width: 100px;
  height: 40px;
}
.margin-separador-formulario{
  margin: 0;
}
@media screen and (max-width: 414px) {  
  .mobile-responsive-formulario{
    padding: 0px;
    margin: 0px;
    height: 360px;
    width: 100%;
  }
  .mobile-items-pequeños{
    width: 345px;
    display: flex;
    padding: 1px 1px 1px 1px;
    flex-direction: column;
    align-items: start;
    height: 145px;
    margin: 3px;
  }
  .mobile-ap-nom{
    display: flex;
    flex-direction: column;
    height: 195px;
    margin: 5px;
  }
  .mobile-width-form-items{
    width: 100%;
  }
  .mobile-margin-mail{
    margin: 8px 1px 1px 1px;
  }
  .mobile-width-input{
    width: 345px;
  }

  .mobile-responsive-formulario-titulos{
    height: 170px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}