.card_style_giant{
    width: 100%;
    border-radius: 5px;
   
    box-shadow: 7px 11px 12px -2px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 7px 11px 12px -2px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 7px 11px 12px -2px rgba(0, 0, 0, 0.68);
    
    background-color: #06283D;
    color: white;

}

.card_title_c{
    background-color: #1363DF;
    border-radius: 5px;
}

.card_title{
    font-size: 1.5rem;
}


.card_text{
    font-size: 1.2rem;
}
.card_img_c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_min{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}





/* .card_style_giant {
    width: 100%;

    
    


    background-color: #06283D;
    color: white;
}

.img_card{
    width: 100%;
}

.card_img_giant{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    

}





.background_style_title{
    
    background-color: blue;
    border-radius: 5px;
}

.card_seccion_giant{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    height: auto;
}

.card_text_giant{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    
    
}
*/



