.scroll-container {
    
    width: 100%;
  
    scroll-snap-type: x mandatory;
  
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .scroll-container::-webkit-scrollbar {
    height: 10px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: gainsboro;    
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: gray;   
    border-radius: 20px;      
    border: 5px solid (gainsboro); 
  }