.scroll-container {
    
    width: 100%;
  
    scroll-snap-type: x mandatory;
  
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .scroll-container::-webkit-scrollbar {
    height: 10px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: gainsboro;        /* color of the tracking area */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 5px solid (gainsboro);  /* creates padding around scroll thumb */
  }