
body { margin: 0; }



.news_compi{
  margin: auto;
  padding: auto;
}

@media screen and (max-width: 1024px){
  .responsive_style{
    display: flex;
    
  }
}

.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  height: 75px;
  width: 75px;
  color: white;
  border-radius: 100px;
  border: none;
  opacity: 75%;
}

.back-to-top:hover {
  background: #7d84ea
}